.form-section{
  background-image: url('../image/appointment-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
}