// footer
.footer {
    background-color: #0f1d34;
    padding: 150px 0;
    margin-bottom: 0;
}
.icon-box a {
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin: 5px;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.icon-box a:hover {
    background-color: #007bff;
}
.icon {
    font-size: 20px;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}